body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e0f3fa+0,d8f0fc+50,b8e2f6+51,b6dffd+100 */
  background: rgb(224, 243, 250); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(224, 243, 250, 1) 0%,
    rgba(216, 240, 252, 1) 50%,
    rgba(184, 226, 246, 1) 51%,
    rgba(182, 223, 253, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(224, 243, 250, 1) 0%,
    rgba(216, 240, 252, 1) 50%,
    rgba(184, 226, 246, 1) 51%,
    rgba(182, 223, 253, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(224, 243, 250, 1) 0%,
    rgba(216, 240, 252, 1) 50%,
    rgba(184, 226, 246, 1) 51%,
    rgba(182, 223, 253, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
